* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  h1{
    color: antiquewhite
  }
  
  h2, h3 {
    color: #333;
  }
  
  ul {
    list-style: none;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    font-weight: bold;
  }
  
  section {
    padding: 60px 0;
  }
  
  .home-section {
    background: #333;
    color: white;
    text-align: center;
  }
  
  .home-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .home-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background: #007bff;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  .about-section, .projects-section, .contact-section {
    background: #fff;
    color: #333;
  }
  
  .projects {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .project {
    width: 30%;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .project img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .contact-section form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact-section form input,
  .contact-section form textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .contact-section form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
